.contenedorImagenes{
  display: flex;
  justify-content: center;
  width: 800px;
  height: 500px;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;

}
.ancho{
  width: 100%;
}
.pull-rigth {
  margin-left: 100%;
}
.pull-left {
  margin-left: -3%;
}
